<div class="row">
  <div class="d-none d-lg-block col-lg-4 p-0">
    <div class="contacts-container">
      <div class="contact-card">
        <div class="contact-picture">
          <img class="picture" src="assets/contacts/profile_woman.jpg" alt="">
        </div>
        <div class="contact-name d-flex flex-column">
          <div class="d-flex justify-content-between">
            <span class="fw-bold ps-3">Zoila Gordoa Delgadillo</span>
            <span class="text-secondary">20:44</span>
          </div>
          <span class="ps-3 text-secondary">Bien, gracias</span>
        </div>
      </div>
      <div class="contact-card">
        <div class="contact-picture">
          <img class="picture" src="assets/contacts/profile_woman_0.jpg" alt="">
        </div>
        <div class="contact-name d-flex flex-column">
          <div class="d-flex justify-content-between">
            <span class="fw-bold ps-3">Mónica Galido </span>
            <span class="text-secondary">1:00</span>
          </div>
          <span class="ps-3 text-secondary">Bien, gracias</span>
        </div>
      </div>
      <div class="contact-card">
        <div class="contact-picture">
          <img class="picture" src="assets/contacts/profile_woman.jpg" alt="">
        </div>
        <div class="contact-name d-flex flex-column">
          <div class="d-flex justify-content-between">
            <span class="fw-bold ps-3">Vanesa Miranda</span>
            <span class="text-secondary">20:44</span>
          </div>
          <span class="ps-3 text-secondary">Bien, gracias</span>
        </div>
      </div>
      <div class="contact-card">
        <div class="contact-picture">
          <img class="picture" src="assets/contacts/profile_woman.jpg" alt="">
        </div>
        <div class="contact-name d-flex flex-column">
          <div class="d-flex justify-content-between">
            <span class="fw-bold ps-3">Zoila Gordoa Delgadillo</span>
            <span class="text-secondary">20:44</span>
          </div>
          <span class="ps-3 text-secondary">Bien, gracias</span>
        </div>
      </div>
      <div class="contact-card">
        <div class="contact-picture">
          <img class="picture" src="assets/contacts/profile_woman_0.jpg" alt="">
        </div>
        <div class="contact-name d-flex flex-column">
          <div class="d-flex justify-content-between">
            <span class="fw-bold ps-3">Mónica Galido </span>
            <span class="text-secondary">1:00</span>
          </div>
          <span class="ps-3 text-secondary">Bien, gracias</span>
        </div>
      </div>
      <div class="contact-card">
        <div class="contact-picture">
          <img class="picture" src="assets/contacts/profile_woman.jpg" alt="">
        </div>
        <div class="contact-name d-flex flex-column">
          <div class="d-flex justify-content-between">
            <span class="fw-bold ps-3">Vanesa Miranda</span>
            <span class="text-secondary">20:44</span>
          </div>
          <span class="ps-3 text-secondary">Bien, gracias</span>
        </div>
      </div>
      <div class="contact-card">
        <div class="contact-picture">
          <img class="picture" src="assets/contacts/profile_woman.jpg" alt="">
        </div>
        <div class="contact-name d-flex flex-column">
          <div class="d-flex justify-content-between">
            <span class="fw-bold ps-3">Zoila Gordoa Delgadillo</span>
            <span class="text-secondary">20:44</span>
          </div>
          <span class="ps-3 text-secondary">Bien, gracias</span>
        </div>
      </div>
      <div class="contact-card">
        <div class="contact-picture">
          <img class="picture" src="assets/contacts/profile_woman_0.jpg" alt="">
        </div>
        <div class="contact-name d-flex flex-column">
          <div class="d-flex justify-content-between">
            <span class="fw-bold ps-3">Mónica Galido </span>
            <span class="text-secondary">1:00</span>
          </div>
          <span class="ps-3 text-secondary">Bien, gracias</span>
        </div>
      </div>
      <div class="contact-card">
        <div class="contact-picture">
          <img class="picture" src="assets/contacts/profile_woman.jpg" alt="">
        </div>
        <div class="contact-name d-flex flex-column">
          <div class="d-flex justify-content-between">
            <span class="fw-bold ps-3">Vanesa Miranda</span>
            <span class="text-secondary">20:44</span>
          </div>
          <span class="ps-3 text-secondary">Bien, gracias</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-sm-12 col-lg-8 px-0">
    <div class="chat-container">
      <div class="chat-content d-flex flex-column">

        <div class="msg-content msg-request">
          <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit corrupti dolorum, necessitatibus nobis, enim unde alias, cumque explicabo possimus ratione culpa deleniti? Aliquid modi est quis repudiandae voluptates eaque ratione.</span>
        </div>

        <div class="msg-content msg-request">
          <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci dolore voluptate repudiandae id voluptatibus nisi, quibusdam labore consectetur cupiditate voluptas esse optio suscipit corporis! Rem reiciendis libero repudiandae recusandae autem.</span>
        </div>
        <div class="msg-content msg-response align-self-end">
          <span>
            Lorem 
          </span>
        </div>
        <div class="msg-content msg-response align-self-end">
          <span>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque accusantium culpa tempore hic excepturi doloremque earum dicta quam, illo ipsam obcaecati debitis consequuntur sed dolores voluptates, aut optio provident asperiores!
          </span>
        </div>
        <div class="msg-content msg-response align-self-end">
          <span>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque accusantium culpa tempore hic excepturi doloremque earum dicta quam, illo ipsam obcaecati debitis consequuntur sed dolores voluptates, aut optio provident asperiores!
          </span>
        </div>
        <div class="msg-content msg-response align-self-end">
          <span>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque accusantium culpa tempore hic excepturi doloremque earum dicta quam, illo ipsam obcaecati debitis consequuntur sed dolores voluptates, aut optio provident asperiores!
          </span>
        </div>
        <div class="msg-content msg-request">
          <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci dolore voluptate repudiandae id voluptatibus nisi, quibusdam labore consectetur cupiditate voluptas esse optio suscipit corporis! Rem reiciendis libero repudiandae recusandae autem.</span>
        </div>
      </div>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Tu mensaje" aria-label="Tu mensaje" aria-describedby="send-button">
        <button class="btn btn-primary" type="button" id="send-button" (click)="emit()">Send</button>
      </div>
    </div>
  </div>
</div>
